:root {
  --white: #ffffff;
  --black: #000000;
  --accent: #61209e;

  --img-width: 350px;
  --img-height: 350px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 60px;
  background-color: var(--black);
  font-family: Helvetica, Arial, sans-serif;
  color: var(--white);
}

input {
  background-color: var(--white);
  border-radius: 5px;
  color: var(--black);
  font-size: 1.2rem;
  outline: none;
  padding: 10px 15px;
  width: 100%;
}

input:focus {
  border-color: var(--accent);
  box-shadow: 0 0 5px rgba(var(--accent), 0.5);
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.4rem;
}

.card-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(100% - 20px, var(--img-width)), 1fr)
  );
  justify-items: center;
  width: 100%;
}

.card {
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 3px 5px rgba(var(--black) 0.03);
  overflow: hidden;
  height: var(--img-height);
  width: min(100% - 20px, var(--img-width));
}

.card p {
  background-color: var(--white);
  color: var(--black);
  font-size: 1.1rem;
  text-align: center;
  height: 30px;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  padding-inline: 5px;
}

.card img {
  width: 100%;
  height: calc(100% - 30px);
  object-fit: cover;
}
/* Not used */
/* .loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(#0000, #1e4d92) content-box;
  mask: repeating-conic-gradient(
      #0000 0deg,
      #000 1deg calc(360deg / 10 - 10deg - 1deg),
      #0000 calc(360deg / 10 - 10deg) calc(360deg / 10)
    ),
    radial-gradient(
      farthest-side,
      #0000 calc(98% - 10px),
      #000 calc(100% - 10px)
    );
  mask-composite: intersect;
  -webkit-mask-composite: destination-in;
  animation: spin 1000ms infinite steps(10);
}
@keyframes spin {
  to {
    transform: rotate(1turn);
  }
} */
